@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <label for="Numeric">Enter Numeric Currency:</label><br>
        <input type="text" id="Numeric" name="Numeric"><br>
        <button id="submitNumeric">Submit</button>
        @if (Model.ShowNonNumericalVal)
        {
             <p for="Numeric" id="Results" @Model.ResultType class="Error" >@Model.NonNumerical</p> 
        }

    </form>
    

</div>
